__pycache__/
*/*.pkl
*/*.pickle

cc.en.300.bin
cc.en.300.bin.gz

*/cc.en.300.bin
*/cc.en.300.bin.gz


dataset/*
dataset/rpe_splited_subgraph/*


env/
log/
log-*/
*.p
*.png
plots/
data/
runs/
results/
*.sw?
orca/
core
deepsnap-experimental/
ckpt/
astar_ged/src/graph-matching-toolkit/
visual_genome_python_driver

common/__pycache__
subgraph_matching/__pycache__